h1 {
  text-align: center;
  color: #111122;
  background-color: skyblue;
  font-size: 70px;
}

h4 {
  padding: 30px;
}

#main {
  text-align: left;
}

p {
  padding: 10px;
}

img {
  width: 400px;
}

.trail {
  text-align: center;
  margin: 15px;
  margin-color: grey;
}
